services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      MONGODB_URI: mongodb://mongo_db:27017/node-simple
    depends_on:
      - mongo_db
  mongo_db:
    image: mongo
    volumes:
      - mongodb_data:/data/db
volumes:
  mongodb_data:
